<!--<table>
  <thread>
    <td>Nom</td>
    <td>Prix</td>
    <td>Montant</td>
    <td>Total</td>
    <td>Option</td>
  </thread>
  <tbody>
  <tr *ngFor="let instruments of cart; index as i">
    <td>{{ instruments.nom }}</td>
    <td>{{ instruments.prix | currency}}</td>
    <td><input type="number" placeholder="montant en d"></td>

    <td>{{ (instruments.prix * instruments.montant) | currency }}</td>
    <td>
      <button class="btn btn-success" (click)="save(i)">Enregistrer</button>
      <button class="btn btn-primary" (click)="delete(i)">Supprimer</button>
    </td>
  </tr>


  </tbody>
</table>-->
<p> hello fix the probleme bye.</p>
