
<div class="container">
<div class="body">
  <h2 class="text-center"> Inscription</h2>
  <br>
  <form #f="ngForm" (ngSubmit)="signup(f)">

  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Nom et prènom:</label>
    <div class="col-sm-10">
      <input ngModel  name="nom" type="text" #name="ngModel"  class="form-control" required>
      <div class="alert-danger" *ngIf="name.invalid && name.touched">Le champs nom est vide. </div>
    </div>
  </div>
    <br>
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Mot de passe:</label>
    <div class="col-sm-10">
      <input ngModel  name="mdp" #password="ngModel" type="password" #email="ngModel"  class="form-control" required minlength="6">
      <div class="alert-danger"  *ngIf="password.touched && password.errors?.required"> le champs mot de passe est vide.</div>
      <div class="alert-danger" *ngIf="password.touched && password.errors?.minlength">Le mot de passe doit etre > 6</div>

    </div>
</div>
    <br>

    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Confirmer le mot de passe:</label>
      <div class="col-sm-10">
        <input ngModel  name="mdp2" #passwor2 ="ngModel" type="password" class="form-control" required="">
        <div class="alert-danger" *ngIf="password.value !==passwor2.value &&passwor2.touched">Les mots de passes ne sont pas authentiques</div>


      </div>
    </div>
    <br>

    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Adresse e-mail:</label>
      <div class="col-sm-10">
        <input ngModel  name="email" type="email" #email="ngModel" class="form-control" required email>
        <div class="alert-danger" *ngIf="email.touched && email.errors?.required">Le champs e-mail est vide.</div>
        <div class="alert-danger" *ngIf="email.touched && email.errors?.email">Verifier le format</div>

      </div>
    </div>
    <br>

    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Adresse :</label>
      <div class="col-sm-10">
        <input ngModel  name="adresse" #adress="ngModel" type="adress"  class="form-control" required>
        <div class="alert-danger" *ngIf="adress.invalid && adress.touched">Le champs adresse est vide.</div>

      </div>
    </div>
    <br>

    <div class="text-center">
      <button class="btn btn-warning" [disabled]="f.invalid || password.value !==passwor2.value"  >M'inscrire</button> </div>


  </form>
  <br>
  <div class="alert alert-danger" *ngIf="errorMessage"> {{errorMessage}}</div>
</div>
</div>
<!--<div class="container">
<div class="body">
  <h2 class="text-center"> Inscription</h2>
  <form #f="ngForm" (ngSubmit)="signup(f)">
    <input ngModel  name="nom" type="text" #name="ngModel" placeholder="Saisir votre nom" class="form-control" required>
    <div class="alert-danger" *ngIf="name.invalid && name.touched">Verifier le nom. </div>
    <input ngModel  name="email" type="email" #email="ngModel" placeholder="Saisissez votre adresse e-mail"class="form-control" required email>
    <div class="alert-danger" *ngIf="email.touched && email.errors?.required">Verifier l'email</div>
    <div class="alert-danger" *ngIf="email.touched && email.errors?.email">Le format n'est pas correcte</div>
    <input ngModel  name="mdp" #password="ngModel" type="password" #email="ngModel"  placeholder="Saississez votre mot de passe"class="form-control" required minlength="6">
    <div class="alert-danger" *ngIf="password.touched && password.errors?.required">Verifier le mot de passe</div>
    <div class="alert-danger" *ngIf="password.touched && password.errors?.minlength">Le mot de passe doir etre > 6</div>
    <input ngModel  name="mdp2" #passwor2 ="ngModel" type="password" placeholder="confirmer votre mot de passe"class="form-control" required="">
    <div class="alert-danger" *ngIf="password.value !==passwor2.value &&passwor2.touched">Les mots de passes ne sont pas authentiques</div>
    <input ngModel  name="adresse" #adress="ngModel" type="adress" placeholder="saissiez votre adresse" class="form-control" required>
    <div class="alert-danger" *ngIf="adress.invalid && adress.touched">Verifier l'adresse.</div>
      <div class="text-center">
      <button class="btn btn-warning" [disabled]="f.invalid || password.value !==passwor2.value"  >M'inscrire</button> </div>
  </form>
</div>
</div>-->

